## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
print(7**4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s="Hi there Sam!"
str_split=s.split(" ")
print(str_split)

['Hi', 'there', 'Sam!']

In [ ]:
x="Hi there dad!"
xtr_split=x.split(" ")
print(xtr_split)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
text="The diameter of {0} is {1} kilometers.".format("Earth",12742)

In [ ]:
print(text)

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
print(lst[3][1][2])

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [ ]:
#The list is dynamic, whereas the tuple has static characteristics. This means that lists can be modified whereas tuples cannot be modified, the tuple is faster than the list because of static in nature. Lists are denoted by the square brackets but tuples are denoted as parenthesis

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def catch_the_string(s):
    l=s.split("@")
    return l[1]

In [ ]:
print(catch_the_string("user@domain.com"))

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def is_dog(s):
    if('dog' in s):
        return True
    else:
        return False

In [ ]:
print(is_dog("thisisadog"))

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def count_dog(s):
    word=s.split(" ")
    count=0
    for i in word:
        if(i=='dog'):
            count=count+1
    return count

In [ ]:
print(count_dog("dog is a dog"))

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
print(caught_speeding(86,True))

Big Ticket

In [ ]:
print(caught_speeding(85,True))

Small Ticket

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
emp_list_sal=[25000,50000,60000,75000,95000]
total_sal=0
for i in emp_list_sal:
    print("{0}".format(i))
    total_sal+=i
print("the total salary exp is {0}".format(total_sal))

25000
50000
60000
75000
95000
the total salary exp is 305000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [1]:
def Merge(dict1, dict2):
    return(dict2.update(dict1))

emp_dict={'Empid':29,'Empname':"SIDHARTH B",'basicpay':1275000}
dept_dict={'DeptName':"IT",'DeptId':7}
print(Merge(emp_dict, dept_dict))
print(dept_dict)

None
{'DeptName': 'IT', 'DeptId': 7, 'Empid': 29, 'Empname': 'SIDHARTH B', 'basicpay': 1275000}